.input-group{
    width: 45%;
    margin: auto;
    margin-top: 5px;
}
.container{
    margin-top: 5%;
}
.bouton-connexion{
    margin-top: 5px;
}
.panel {
    width: 75%;
    margin-top: 5px;
    margin-left: 12%;
}